@use "./variables" as *;
@use "./typography";
@use "./buttons";
@use "./cards";
@use "./dashboards";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
